@CHARSET "UTF-8";

body {
	font-family: verdana;
	vertical-align: middle;
}

.small {
	font-size: 70%;
	color: gray; 
}

div#loading {
	font-family: 微軟正黑體,verdana;
}

.idx {	/* 流水號 */
	text-align: right;
}

th.widthMin{
	width:90px;
}

.int {	/* 數字 */
	text-align: right;
	font-family: verdana;	
}
.dt {	/* 日期格式 */
	text-align: left;	
}
.engN {
	text-align: left;
	font-family: verdana;
}

input.engN {
	font-family: calibri;
}

.zhTwN {
	font-family: 微軟正黑體,標楷體,新細明體;
}

.banner {
	cursor: pointer;
	text-decoration: none;
	color: orange;
	font-weight: bolder;
	font-size: 130%;
}

.boldGreen {
	font-weight: bolder;
	color: green;
}
.boldRed {
	font-weight: bolder;
	color: red;
}

div#mainDiv {
	vertical-align: text-top;
	background-color: #DFEFFC;
	color: #2E6E9E;
}

h3#banner {
	font-size: 160%;
	font-weight: bolder;
	color: gray;
}

td.warning {
	border-color: red;
	border-style: solid;
	font-size: 70%;
}

thead.tableFirst {
	text-align: center;
}

label.thStyle {
	background: #79B7E7;
	color: white;
	font-weight: bold;
}

label.fr {
	color: red;
	font-weight: bold;
}

label.gb {
	color: darkgreen;
	font-weight: bold;
}

textarea {
	font-family: 微軟正黑體;
	color: grey;
	ont-weight: bold;
	font-size: 80%;
}

thead.tableFirst th {
	background: #79B7E7;
	color: white;
	padding-left: 5px;
	padding-right: 5px;
}

.tabModDefLeft {
	 position:absolute;
	 padding-left:10px;
	 padding-right:10px;
	 left:0;
}
.tabModDefRight {
	padding-left:10px;
	padding-right:10px;
	border-left: #ADADAD 1px solid;
}


thead.tableFirst td {
	
}

select {
	font-family: 微軟正黑體;
}

thead.tableSecond {
	color: #2E6E9E;
	background: #C5DBEC;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.alert {
	color: red;
	font-weight: bolder;
}

.verTop {
	vertical-align: top;
}

.verMid {
	vertical-align: middle;
}

.ui-button .ui-button-text {
	line-height: 0.6;
	font-size: 80%;
	font-weight: normal;
}

textarea {
	resize: none;
}